<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="card" style="width: 18rem;">
    <%= form_with model: [ @article, @article.comments.build ] do |form| %>
      <div class="card-body">
        <%= form.label :title , class:"form-label" %>
        <%= form.text_field :title, class:"form-control", placeholder:"Enter title of comment" %>
        <br>

        <%= form.label :body , class:"form-label" %>
        <%= form.text_area :body, class:"form-control", placeholder:"Enter body of comment" %>
        <br>
        <%= form.label :status , class:"form-label" %>
        <%= form.select :status, Comment::VALID_STATUSES, class:"form-control" %>
        <div class="text-end">
          <%= form.submit class:"btn btn-success" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
